USE [master]
GO
/****** Object:  Database [DbTismartLibrary]    Script Date: 23/12/2023 19:52:03 ******/
CREATE DATABASE [DbTismartLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbTismartLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbTismartLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbTismartLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbTismartLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbTismartLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbTismartLibrary]
GO
/****** Object:  Table [dbo].[books]    Script Date: 23/12/2023 19:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[intIdBook] [int] IDENTITY(1,1) NOT NULL,
	[varTitle] [varchar](250) NULL,
	[varCode] [varchar](100) NOT NULL,
	[bolIsReserved] [bit] NULL,
	[intStatus] [tinyint] NULL,
	[dmeDateTimeCreation] [datetime] NOT NULL,
	[dmeDateTimeUpdate] [datetime] NULL,
	[bolIsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[intIdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[intIdReservation] [int] IDENTITY(1,1) NOT NULL,
	[intIdUser] [int] NOT NULL,
	[intIdBook] [int] NOT NULL,
	[dmeDateReservation] [datetime] NOT NULL,
	[intStatus] [tinyint] NULL,
	[dmeDateTimeCreation] [datetime] NOT NULL,
	[dmeDateTimeUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[intIdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[intIdUser] [int] IDENTITY(1,1) NOT NULL,
	[varFirstName] [varchar](100) NULL,
	[varLastName] [varchar](100) NULL,
	[varEmail] [varchar](200) NOT NULL,
	[varPassword] [varchar](15) NOT NULL,
	[intStatus] [tinyint] NULL,
	[dmeDateTimeCreation] [datetime] NOT NULL,
	[dmeDateTimeUpdate] [datetime] NULL,
	[bolIsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[intIdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([intIdBook], [varTitle], [varCode], [bolIsReserved], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (1, N'Orgullo y Prejuicio', N'ISBN-0002', 0, NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[books] ([intIdBook], [varTitle], [varCode], [bolIsReserved], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (2, N'Guerra y Paz', N'ISBN-023002', 0, NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[books] ([intIdBook], [varTitle], [varCode], [bolIsReserved], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (3, N'El Extranjero', N'ISBN-023002', 0, NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([intIdUser], [varFirstName], [varLastName], [varEmail], [varPassword], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (1, N'Rodrigo', N'Dura Espinoza', N'rdurae@gmail.com', N'reb00ter', NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[users] ([intIdUser], [varFirstName], [varLastName], [varEmail], [varPassword], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (4, N'Arturo', N'-', N'arturo@gmail.com', N'reb00ter2', NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[users] ([intIdUser], [varFirstName], [varLastName], [varEmail], [varPassword], [intStatus], [dmeDateTimeCreation], [dmeDateTimeUpdate], [bolIsActive]) VALUES (5, N'Fiorella', N'-', N'fiorella@gmail.com', N'reb00ter3', NULL, CAST(N'2023-12-12T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([intIdUser])
REFERENCES [dbo].[users] ([intIdUser])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([intIdBook])
REFERENCES [dbo].[books] ([intIdBook])
GO
/****** Object:  StoredProcedure [dbo].[SpBookReservation]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpBookReservation](@idUser INT, @idBook INT, @isReserved BIT, @dateReservation DATETIME)
AS
	UPDATE books SET
			bolIsReserved = @isReserved
		WHERE intIdBook = @idBook

	DELETE FROM reservations WHERE intIdBook = @idBook

	INSERT INTO reservations(intIdUser, intIdBook, dmeDateReservation, dmeDateTimeCreation)
	VALUES (@idUser, @idBook, @dateReservation, GETDATE())		
GO
/****** Object:  StoredProcedure [dbo].[SpBookSelection]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpBookSelection](@idBook INT)
AS
	SELECT intIdBook, bolIsReserved, varTitle, varCode FROM books
	WHERE intIdBook = @idBook
GO
/****** Object:  StoredProcedure [dbo].[SpBooksReservations]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpBooksReservations]
AS 
	SELECT books.intIdBook, varCode, varTitle, bolIsReserved, dmeDateReservation
	FROM books
	LEFT JOIN reservations
	ON
	books.intIdBook = reservations.intIdBook;
GO
/****** Object:  StoredProcedure [dbo].[SpUserRetrieval]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpUserRetrieval](@email VARCHAR(200)) 
AS 
	SELECT intIdUser, varFirstName, varLastName, varEmail, varPassword, bolIsActive
	FROM users
	WHERE varEmail = @email 
GO
/****** Object:  StoredProcedure [dbo].[SpValidateUser]    Script Date: 23/12/2023 19:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpValidateUser](@email VARCHAR(200), @password VARCHAR(15)) 
AS
SELECT COUNT(*) 
FROM users
WHERE
	varEmail = @email AND
	varPassword = @password AND 
	bolIsActive = 1;
GO
USE [master]
GO
